* {
    margin: 0;
    padding: 0;
   
}

:root {
    --grey: grey;
    --black: black;
    --brown: rgb(66, 36, 18);
    --gold: gold;
    --silver: silver;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--brown);
    font-family: 'Yatra One', cursive;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border: 10px solid var(--gold);
    padding: 30px;
    border-radius: 100px;
    width: 50vw;
    background-image: radial-gradient(var(--grey) 0%, var(--grey) 50%, var(--grey)60%, var(--silver) 100%);
    margin: 10px;
}

h1 {
    font-size: 80px;
    background-color: var(--grey);
}

h2 {
    font-size: 50px;
    margin: 10px;
}
h3 {
    font-size: 30px;
    margin: 10px;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.container {
    width: 50vw;
    height: auto;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-content: center;
    border: 10px solid var(--gold);
    padding: 10px;
    background-color: var(--grey);
    border-radius: 50px;
    background-image: linear-gradient(var(--silver) 0%, var(--grey) 35%);
    /* background-image: radial-gradient(var(--grey) 0%, var(--grey) 50%, var(--grey)60%, var(--silver) 100%); */
}

p {
    font-size: 20px;
    margin: 5px;
    margin-left: 25px;

}

#char-container {
    display: flex;
    flex-direction: row;
}