* {
    margin: 0;
    padding: 0;

}

:root {
    --grey: grey;
    --black: black;
    --brown: rgb(66, 36, 18);
    --gold: gold;
    --silver: rgb(163, 163, 163);
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--brown);
    font-family: 'Yatra One', cursive;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border: 10px solid var(--gold);
    padding: 30px;
    border-radius: 100px;
    width: 40vw;
    background-image: radial-gradient(var(--grey) 0%, var(--grey) 50%, var(--grey)60%, var(--silver) 100%);
    margin: 10px;
}

h1 {
    font-size: 80px;
    background-color: none;
}

h2 {
    font-size: 50px;
    margin: 10px;
    background-color: none;
}

h3 {
    font-size: 30px;
    margin: 10px;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container {
    width: 40vw;
    height: auto;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 10px solid var(--gold);
    padding: 10px;
    background-color: var(--grey);
    border-radius: 50px;
    /* background-image: linear-gradient(var(--silver) 0%, var(--grey) 35%); */
}

p {
    font-size: 20px;
    margin: 5px;
    margin-left: 25px;

}

#char-container {
    display: none;
    flex-direction: row;
    position: relative;
}

#character-img-div {
    height: 130px;
    width: 130px;

    position: relative;
}

#character-avatar-div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    top: 20px;
}

#character-card {
    background-color: white;
    position: relative;
}

.btn {
    color: black;
    margin: 20px;
    width: 200px;
    height: 75px;
    font-family: 'Yatra One', cursive;
    font-size: 20px;
    border: 5px solid gold;
    border-radius: 5px;
    background-color: var(--silver);
}


#character-selection-div {
    align-items: center;


}

#play-btn {
    background-color: rgb(156, 19, 19);
    display: none;
}

#combat-div {
    display: none;
    align-items: center;
}

button:hover {
    cursor: pointer;
    background-color: var(--grey)
}

.arena-placement {

    display: flex;
    flex-direction: row;
    width: 100px;
    height: 100px;
}

#arena {
    position: relative;
    background-color: white;
    margin: 10px;
    padding: 0;
    height: 200px;
    width:400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 10px solid var(--gold);
    border-radius: 20px;
}

.arena-img {
    width: 150px;
    height: 150px;
    position: absolute;
}

.dmg-img {
    display: none;
    position: absolute;
    transition: all 1s ease-in-out;
}

.hp-bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    align-content: center;
    margin-left: 5px;
}

.arena-placement {
    
    justify-content: center;
}

@media screen and (max-width: 1500px) {
    header{
        align-content: center;
    }
    h1 {
        font-size: 40px;
        text-align: center;
    }

    h2 {
        font-size: 30px;
    }

    .container {
        width: 60%;
    }

    h3 {
        font-size: 15px;
        margin-top: 15px;
    }

    p {
        font-size: 12px;
        margin: 2px;
        margin-left: 10px;
        line-height: 150%;
    }

    main {
        flex-wrap: wrap;
    }

    #char-container {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
     
    }
#equipment-card{
    width: auto;
}
    #character-img-div {
        height: 60px;
        width: 60px;
    }


    #combat-div {
        align-items: center;
        align-content: center;
        justify-content: center;
    }


    #arena {
        height: 125px;
        width: 225px;
    }

    img {
        height: 60px;
        width: 60px;
    }

    .arena-img {
        width: 70px;
        height: 70px;
        position: absolute;
        top: 40px;
    }
}